<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-2 hidden-xs">
            <div class="navbar-text pull-left hidden">
                <a href="../website/website.view.html">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Pages</a>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="navbar-text pull-left visible-xs">
                <a href="../website/website.view.html">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-123">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-123">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/user/{{WebsiteModel.uid}}/website/">Website</a></li>
                    <!--<li><a href="#">DATA</a></li>-->
                </ul>
                <!--<ul class="nav navbar-nav navbar-right">-->
                    <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Dropdown <span class="caret"></span></a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="#">Action</a></li>-->
                            <!--<li><a href="#">Another action</a></li>-->
                            <!--<li><a href="#">Something else here</a></li>-->
                            <!--<li class="divider"></li>-->
                            <!--<li><a href="#">Separated link</a></li>-->
                            <!--<li class="divider"></li>-->
                            <!--<li><a href="#">One more separated link</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                <!--</ul>-->
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-sm-2 hidden-xs wbdv-left-pane">
        <div class="panel panel-default" style="margin-top: 70px;padding-left:0px;">
            <!-- Default panel contents -->
            <div class="panel-heading">
                Pages
                <a href="#/user/{{PageModel.uid}}/page/new" class="pull-right">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="page in PageModel.pages">
                        <a href="../page/page.view.html">
                            {{page.name}}
                        </a>
                        <a href="#/user/{{PageModel.uid}}/page/{{page._id}}" class="pull-right">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </li>

                </ul>

            </div>
        </div>
    </div>
    <!--<div class="col-xs-12 col-sm-10 wbdv-right-pane">-->

        <!--<div class="alert alert-success" role="alert">-->
            <!--Your Website has been created-->
            <!--<span class="glyphicon glyphicon-remove pull-right"></span>-->
        <!--</div>-->



    <!--</div>-->
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Footer</a>
        </div>
    </div>
</nav>
