<h1>Activity</h1>

<md-content>
    <md-list flex>
        <md-list-item class="md-3-line" ng-click="null">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <div class="md-list-item-text" layout="column">
                <h3>Who</h3>
                <h4>What</h4>
                <p>Notes</p>
            </div>
        </md-list-item>
        <md-list-item class="md-3-line" ng-click="null">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <div class="md-list-item-text" layout="column">
                <h3>Who</h3>
                <h4>What</h4>
                <p>Notes</p>
            </div>
        </md-list-item>
        <md-list-item class="md-3-line" ng-click="null">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <div class="md-list-item-text" layout="column">
                <h3>Who</h3>
                <h4>What</h4>
                <p>Notes</p>
            </div>
        </md-list-item>
        <md-list-item class="md-3-line" ng-click="null">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <div class="md-list-item-text" layout="column">
                <h3>Who</h3>
                <h4>What</h4>
                <p>Notes</p>
            </div>
        </md-list-item>
        <md-list-item class="md-3-line" ng-click="null">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <div class="md-list-item-text" layout="column">
                <h3>Who</h3>
                <h4>What</h4>
                <p>Notes</p>
            </div>
        </md-list-item>
        <md-list-item class="md-3-line" ng-click="null">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <div class="md-list-item-text" layout="column">
                <h3>Who</h3>
                <h4>What</h4>
                <p>Notes</p>
            </div>
        </md-list-item>
        <md-list-item class="md-3-line" ng-click="null">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <div class="md-list-item-text" layout="column">
                <h3>Who</h3>
                <h4>What</h4>
                <p>Notes</p>
            </div>
        </md-list-item>
        <md-list-item class="md-3-line" ng-click="null">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <div class="md-list-item-text" layout="column">
                <h3>Who</h3>
                <h4>What</h4>
                <p>Notes</p>
            </div>
        </md-list-item>
    </md-list>
</md-content>